
name: CI pipeline maven based java application

on:
  push:
    branches:
      - main

jobs:
  build:

    runs-on: ubuntu_latest

    steps:
    - uses: actions/checkout@v4
    - name: set up JDK 17
    - uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: maven
    - name: Build with maven
      run: |
        cd app-orders/
        mvn clean package
